<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/reset-password.css">

</head>

<body>

    <header class="header">

        <div class="logo"><img src="/images/expenses.png" alt=""> EXPENSE TRACKER</div>
        <div class="buttons">
            <button id="header-signup-btn" class="signup-btn">Sign Up</button>
            <button id="header-login-btn" class="login-btn">Login</button>
        </div>

    </header>


    <main>


        <!-- The modal for login button  -->
        <div id="login-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">

                <div class="modal-header">
                    <h2>Login </h2>
                    <span class="close">&times;</span>
                </div>

                <div class="modal-body">
                    <div class="form-container">


                        <form id="login-form">

                            <div class="input-field">
                                <input type="email" id="login-email" name="email" placeholder="Your Email" required>
                                <br>
                                <span class="error" name="email-error" id="email-error"></span>
                            </div>

                            <div class="input-field">
                                <input type="password" id="login-password" name="password" placeholder="Password"
                                    required>
                                <br>
                                <span class="error" name="password-error" id="password-error"></span>

                            </div><br>

                            <div>
                                <a id="forgot-password" href="">Forgot Password?</a>
                            </div>

                            <div class="button-field">
                                <button type="submit" name="login-btn" id="login-btn">Login</button>
                            </div>

                        </form>
                        <p>
                            Don't have an account yet?
                            <a id="signup-here-link" href="">Sign Up </a>
                        </p>
                    </div>

                </div>


            </div>

        </div>

         <!-- The modal for forgot password link  -->
         <div id="forgot-password-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">

                <div class="modal-header">
                    <h2>Recover Your Password </h2>
                    <span class="close">&times;</span>
                </div>

                <div class="modal-body">
                    <div class="form-container">

                        <form id="forgot-password-form">

                            <div class="input-field">
                                <input type="email" id="forgot-password-email" placeholder="Enter your Email" required>
                                <br>
                                <span class="error" name="email-error" id="forgot-password-email-error"></span>
                            </div>

                            <div class="button-field">
                                <button type="submit" id="forgot-password-form-submit-btn">Submit</button>
                            </div>

                        </form>

                    </div>

                </div>


            </div>

        </div>

        <!-- The modal for signup button  -->
        <div id="signup-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">

                <div class="modal-header">
                    <h2>Sign Up </h2>
                    <span class="close">&times;</span>
                </div>

                <div class="modal-body">
                    <div class="form-container">

                        <form id="signup-form">
                            <div class="input-field">
                                <input type="text" id="name" name="name" placeholder="Your Name" required>
                                <br>
                                <span class="error" name="name-error" id="name-error"></span>
                            </div>

                            <div class="input-field">
                                <input type="email" id="signup-email" name="email" placeholder="Your Email" required>
                                <br>
                                <span class="error" name="email-error" id="email-error"></span>
                            </div>

                            <div class="input-field">
                                <input type="password" id="signup-password" name="password" placeholder="Password"
                                    required>
                                <br>
                                <span class="error" name="password-error" id="password-error"></span>
                            </div>

                            <div class="button-field">
                                <button type="submit" name="signup-btn" id="signup-btn">Sign Up</button>
                            </div>

                        </form>
                        <p>
                            Have already an account?
                            <a id="login-here-link" href="">Login here</a>
                        </p>
                    </div>

                </div>


            </div>

        </div>


       
        <div>
            <p id="reset-password-form-message"></p>
        </div>
        
        <!-- reset password form  -->

        <div class="reset-password-form-container form-container">

            <form id="reset-password-form">

                <h1>Reset Account Password</h1>

                <div class="input-field">
                    <input type="password" id="new-password" placeholder="New password" required>
                    <br>
                    <input type="password" id="confirm-new-password" placeholder="Confirm new password" required>
                    <br>
                    <span class="error" name="email-error" id="reset-password-error"></span>
                </div>

                <div class="button-field">
                    <button type="submit" id="reset-password-form-submit-btn">Reset Password</button>
                </div>

            </form>

        </div>

    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/reset-password.js"></script>

</body>

</html>