.reset-password-form-container{
    width: 45%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid#CACACA;
    padding: 60px 70px; 
}

#reset-password-form h1{
    font-size: xx-large;
}

#reset-password-form-message{
    margin-top: 20px;
    text-align: center;
    color: rgb(3, 167, 3);
    font-weight: bold;
    font-size: large;
}